@import url('./assets/css/base/reset.css');
@import url('./style/review.css');


.vtex-flex-layout-0-x-flexColChild--newsletterForm form {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 64em) {
  .vtex-flex-layout-0-x-flexColChild--newsletterForm form {
    display: block;
  }
}

.vtex-tag.bg-muted-2 {
  background: #000;
}

@media (max-width: 63.99em) {
  .vtex-store-components-3-x-portalWrapper .flex {
    top: 3rem !important;
  }
}

.vtex-slider-layout-0-x-sliderArrows[disabled] {
  opacity: 0.25;
  cursor: default;
}

/* INICIO -- AQUI ALTERA OS BOTÕES DO SITE */
.vtex-button:hover {
  background: transparent;
}

/* FIM */

.vtex-search-result-3-x-filterBreadcrumbsText.c-muted-2 {
  display: flex;
}

.vtex-search-result-3-x-filterBreadcrumbsText.c-muted-2::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.321' height='14.281' viewBox='0 0 14.321 14.281'%3E%3Cpath data-name='Union 5' d='M6.787 14.135.147 7.494a.5.5 0 0 1 0-.707l6.64-6.64a.5.5 0 0 1 .707.707l-5.8 5.8H13.82a.5.5 0 1 1 0 1H1.72l5.774 5.774a.5.5 0 1 1-.707.707Z'/%3E%3C/svg%3E") no-repeat center/contain;
  margin-right: 1rem;
}

/* INICIO -- AQUI É O HOVER QUE INFLUENCIA O BOTÃO DO PRODUCT SUMMARY */
.vtex-product-summary-2-x-element:hover .vtex-flex-layout-0-x-flexRowContent--summary-add-to-cart .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-button {
  opacity: 1;
  transition: opacity 0.25s;
}

/* FIM */

/* INICIO -- AQUI É ONDE ALTERA A CAIXA DE RESULTADOS SEARCH BAR */
.vtex-store-components-3-x-resultsList--search-bar #downshift-0-item-0,
.vtex-store-components-3-x-resultsList--search-bar #downshift-0-item-1 {
  display: none;
}

/* FIM */

/* INICIO -- AQUI É ONDE ALTERA CONTADOR QUANTIDADE MINICART */
.vtex-product-list-0-x-inputContainer>input {
  width: 20px;
  max-width: 20px;
}

/* FIM */

/* INICIO - AJUSTE ICONE LOGIN MOBILE */
.vtex-login-2-x-buttonLink .vtex-button .vtex-button__label .nl3 {
  margin: 0;
  padding: 0;
}

/* FIM */

/*account*/
.newAddressButton .vtex-button {
  background-color: #5B243D;
  border: 1px solid #5B243D;
  border-radius: 0;
  text-transform: uppercase;
  color: #5B243D;
}

.render-route-store-account .vtex-account {
  max-width: 1260px;
  margin: 0 auto;
}

.render-route-store-account .vtex-pageHeader__title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #000;
  text-transform: uppercase;
}

.vtex-pageHeader__children .newAddressButton .vtex-button {
  background-color: #fff;
  transition: all .1s;
  border: 1px solid #5B243D;
  border-radius: 0;
  text-transform: uppercase;
  color: #5B243D;
}

.vtex-pageHeader__children .newAddressButton .vtex-button:hover {
  background-color: #5B243D;
  color: #fff;
  text-transform: uppercase;
  transition: all .1s;
}

.render-route-store-account article .vtex-button {
  letter-spacing: 0.52px;
  color: #5B243D;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #5B243D;
  border-radius: 0;
  min-width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s;
}

.render-route-store-account article .vtex-button:hover {
  background-color: #5B243D;
  color: #fff;
  text-transform: uppercase;
  transition: .1s;
}

.render-route-store-account article.vtex-my-account-1-x-boxContainer {
  border-color: #F3F3F4;
  border-radius: 0;
  padding: 15px;
}

.render-route-store-account .vtex-my-account-1-x-boxContainerFooter {
  padding: 15px;
}

.render-route-store-account .vtex-my-account-1-x-dataEntryLabel,
.render-route-store-account .vtex-my-account-1-x-newsletterContainerMessage,
.render-route-store-account .vtex-checkbox__label {
  letter-spacing: 0px;
  color: #282E2D;
  font-size: 12px;
  font-weight: 400;
}

.render-route-store-account .vtex-my-account-1-x-dataEntryChildren,
.render-route-store-account .vtex-my-account-1-x-newsletterContainerTitle {
  letter-spacing: 0px;
  color: #282E2D;
  font-size: 12px;
  font-weight: 700;
}

.render-route-store-account aside.vtex-my-account-1-x-menu {
  width: 17%;
  height: max-content;
  margin-right: 3%;
  border: none;
  border-radius: 0;
  padding: 25px 25px 0 25px;
}

.render-route-store-account aside.vtex-my-account-1-x-menu .vtex-my-account-1-x-userInfo .vtex-my-account-1-x-userGreeting {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0px;
  color: #424043;
}

.render-route-store-account aside.vtex-my-account-1-x-menu .vtex-my-account-1-x-userInfo .vtex-my-account-1-x-userName {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0px;
  color: #424043;
}

.render-route-store-account .vtex-my-account-1-x-menuLinks .vtex-account_menu-link,
.render-route-store-account .vtex-my-account-1-x-menuLinks .vtex-my-account-1-x-menuLink {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000;
  padding: 10px 15px;
  text-transform: initial;
}

.vtex-my-cards-1-x-newCardButton .vtex-button,
.vtex_my-authentication_authenticationScreen_passBox button.vtex-button,
.vtex_my-authentication_box_container button.vtex-button {
  text-transform: uppercase;
}

.render-route-store-account .vtex-my-account-1-x-menuLinks .vtex-account_menu-link.c-on-base {
  text-decoration: underline;
  border-color: transparent;
  position: relative;
  padding-left: 15px;
}

.render-route-store-account .vtex-my-account-1-x-menuLinks .vtex-account_menu-link.c-on-base::before {
  content: "";
  width: 2px;
  height: 14px;
  background-color: #5B243D;
  display: block;
  margin-right: 5px;
  border-radius: 0;
  position: absolute;
  left: 0;
}

.render-route-store-account .vtex-input-prefix__group {
  border: 0;
}

.render-route-store-account article .vtex-dropdown>label>div {
  border: 0;
}

.render-route-store-account article input,
.render-route-store-account article select,
.render-route-store-account article .vtex-dropdown__container,
.render-route-store-account article .vtex-dropdown__button {
  height: 40px;
  border: 1px solid #8A9997;
  border-radius: 100px;
  letter-spacing: 0px;
  color: #282e2d94;
  font-size: 14px;
  font-weight: 400;
}

.address-summary span.c-link.pointer {
  text-decoration: underline;
  color: #000;
  font-weight: 600;
}

.vtex_my-authentication_authenticationScreen_passBox button.vtex-button,
.vtex_my-authentication_box_container button.vtex-button {
  background-color: #fff;
  transition: all .1s;
  border: 1px solid #5B243D;
  border-radius: 0;
  text-transform: uppercase;
  color: #5B243D;
}

.vtex_my-authentication_authenticationScreen_passBox button.vtex-button:hover,
.vtex_my-authentication_box_container button.vtex-button:hover {
  background-color: #5B243D;
  color: #fff;
  transition: all .1;
}

.vtex_my-authentication_codeInput_container input {
  border: 1px solid #e9e9e9;
}

.vtex-my-cards-1-x-newCardButton .vtex-button {
  background-color: #fff;
  transition: all .1s;
  border: 1px solid #5B243D;
  border-radius: 0;
  text-transform: uppercase;
  color: #5B243D;
}

.vtex-my-cards-1-x-newCardButton .vtex-button:hover {
  background-color: #5B243D;
  color: #fff;
  transition: all .1s;
}

p {
  display: block;
}

/*end account*/

.render-route-store-search .vtex-search-result-3-x-galleryTitle--layout::before,
.render-route-store-search .vtex-flex-layout-0-x-flexRowContent--search-title::before {
  display: none;
}

@media (max-width:768px) {
  .render-route-store-search #gallery-layout-container {
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
  }

  .render-route-store-search #gallery-layout-container .vtex-search-result-3-x-galleryItem {
    max-width: 50% !important;
    flex-basis: 50% !important;
    padding: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .vtex-flex-layout-0-x-flexColChild--group-id .items-stretch {
    display: flex;
    justify-content: center;
  }

  /* FIM */
  /* INICIO - ALTERA WIDTH DO FILTROE E ORDER BY MOBILE */
  @media(max-width: 64em) {

    .vtex-flex-layout-0-x-flexRowContent--search-controls-mobile>.pr0,
    .vtex-flex-layout-0-x-flexRowContent--search-controls-mobile>.pr0-ns {
      width: 100% !important;
      justify-content: center;
      align-items: center;
    }
  }

  /* FIM */
}


div::-webkit-scrollbar,
ul::-webkit-scrollbar,
nav::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
nav::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
nav::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

/* AQUI É O HOVER QUE INFLUENCIA O BOTÃO DO PRODUCT SUMMARY */
.vtex-product-summary-2-x-element:hover .vtex-flex-layout-0-x-flexRow--product-summary-text .vtex-store-components-3-x-container .vtex-flex-layout-0-x-flexRowContent--product-summary-text .vtex-flex-layout-0-x-flexCol--product-summary-text .vtex-flex-layout-0-x-flexColChild--product-summary-text .vtex-button {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  transition: all 0.25s ease-in-out;
}

/* FIM */

/* INICIO - AJUSTE ICONE LOGIN MOBILE */
.vtex-login-2-x-buttonLink .vtex-button .vtex-button__label .nl3 {
  margin: 0;
  padding: 0;
}

/* FIM */
/* INICIO - MUDA HOVER DE LINKS GERAIS */
.hover-c-link:hover {
  color: initial;
}

/*FIM */
/* INICIO - ALTERA TAMANHO BOTÃO BUY PÁG PRODUTO */
.vtex-flex-layout-0-x-flexRowContent--pdp-quantity-buy-button>.items-stretch:last-child {
  width: 100% !important;
}

/* FIM */
/* INICIO - ALTERA O BOTÃO DE MAIS E MENOS CASO DESABILITADOS */
.bg-muted-5 {
  background-color: transparent;
}

/* FIM */
/* INICIO - MUDA SHIPPING FORGOTTEN CEP */
.vtex-address-form__postalCode-forgottenURL>.c-link {
  color: #6C7B82;
  font-size: 12px;
  font-weight: 400;
}

.vtex-address-form__postalCode-forgottenURL>.c-link:hover {
  text-decoration: underline;
}

/* FIM */
/* INICIO ALTERA BITÃO QUANTIDADE DESABILITADO */
.vtex-numeric-stepper__plus-button-container>.c-disabled,
.vtex-numeric-stepper__minus-button-container>.c-disabled {
  color: #D4D4D4 !important;
}

/* FIM */
/* INICIO */
.render-route-store-account .vtex-pageHeader__title {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #23232C !important;
}

/* FIM */

/* INICIO - ESCONDE INCLUSÃO DE DADOS JURIDICOS */
.vtex-profile-form-3-x-toggleBusinessButtonWrapper {
  display: none !important;
}
/* FIM */


.vtex-textarea__input {
  background-color: #F3F3F4;
  border-radius: 3px;
  border: 0;
  outline: none;
}

.vtex-input__suffix {
  justify-content: center;
  align-items: center;
  padding: 4px 10px 0;
  margin: 0;
}
